<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="person.middlem.viewmodule">
	
	<application
		android:allowBackup="true"
		android:label="@string/app_name"
		android:supportsRtl="true">
		<activity android:name=".TextViewActivity" />
		<activity android:name=".listview.ListViewActivity" />
		<activity android:name=".recycleview.RecyCleViewActivity" />
		<activity android:name=".listview.ExpandableActivity" />
		<activity android:name=".uselayout.ConstrainLayoutActivity" />
		<activity android:name=".ViewBaseActivity"></activity>
	</application>

</manifest>